<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:dataSource.properties</value>
            </list>
        </property>
    </bean>
<!--
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass">
            <value>${mysql.driverClass}</value>
        </property>
        <property name="jdbcUrl">
            <value>${mysql.url}</value>
        </property>
        <property name="user">
            <value>${mysql.user}</value>
        </property>
        <property name="password">
            <value>${mysql.password}</value>
        </property>
        <property name="initialPoolSize">
            <value>${mysql.initialPoolSize}</value>
        </property>
        <property name="minPoolSize">
            <value>${mysql.minPoolSize}</value>
        </property>
        <property name="maxPoolSize">
            <value>${mysql.maxPoolSize}</value>
        </property>
        <property name="maxIdleTime">
            <value>${mysql.maxIdleTime}</value>
        </property>
        <property name="idleConnectionTestPeriod">
            <value>${mysql.idleConnectionTestPeriod}</value>
        </property>
    </bean>-->

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"
                  value="com.mysql.jdbc.Driver">
        </property>
        <property name="url"
                  value="${mysql.url}">
        </property>
        <property name="username" value="${mysql.user}"></property>
        <property name="password" value="${mysql.password}"></property>
    </bean>
    <bean id="sqlMapClient" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--<property name="mapperLocations" value="classpath*:map/*.xml"/>-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="baseDao" class="com.itv.dao.BaseDaoImpl">
        <property name="sqlSessionFactory" ref="sqlMapClient"/>
    </bean>
    <bean id="indexService" class="com.itv.service.IndexServiceImpl">
        <property name="baseDao" ref="baseDao"></property>
    </bean>
    <bean id="playService" class="com.itv.service.PlayServiceImpl">
        <property name="baseDao" ref="baseDao"></property>
    </bean>
    <bean id="manageService" class="com.itv.service.ManageServiceImpl">
        <property name="baseDao" ref="baseDao"></property>
    </bean>

    <bean id="indexAction" class="com.itv.action.IndexAction" scope="prototype">
        <property name="indexService" ref="indexService"/>
    </bean>
    <bean id="playAction" class="com.itv.action.PlayAction" scope="prototype">
        <property name="playService" ref="playService"/>
    </bean>
    <bean id="searchAction" class="com.itv.action.SearchAction" scope="prototype">
        <property name="playService" ref="playService"/>
    </bean>
    <bean id="manageAction" class="com.itv.action.ManageAction" scope="prototype">
        <property name="manageService" ref="manageService"/>
    </bean>

    <bean id="myIntercepter" class="com.itv.intercepter.MyIntercepter">
        <property name="baseDao" ref="baseDao"></property>
    </bean>
</beans>