<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <typeAliases>
       <typeAlias alias="movie" type="com.itv.pojo.MovieBean"/>
       <typeAlias alias="movieIndex" type="com.itv.pojo.MovieFocusMap"/>
       <typeAlias alias="movieView" type="com.itv.pojo.view.MovieView"/>
        <typeAlias alias="moviePage" type="com.itv.pojo.MoviePage"/>
  </typeAliases> 
    <mappers>  
        <mapper resource="map/MovieBean.xml"/>
        <mapper resource="map/manage.xml"/>
    </mappers>  
</configuration>   